				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <p:outputLabel value="$fieldNameUpper" for="${fieldNameLower}SelectOneMenu" />
                        <p:calendar id="${fieldNameLower}SelectOneMenu" value="#{ manager${operation}${entityNameUpper}.entidade.${fieldNameLower} }"
                                    showOn="button" pattern="dd/MM/yyyy" locale="pt" navigator="true" yearRange="1900:c"  />
                    </div>
	            </div>