				<div class="row">
				    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				    		<p:outputLabel value="$fieldNameUpper ?" for="${fieldNameLower}checkBooleanButton" styleClass="bold-label"/>
							<p:selectBooleanButton id="${fieldNameLower}checkBooleanButton" 
                                                   value="#{ manager${operation}${entityNameUpper}.entidade.${fieldNameLower}  }"
                                                   onLabel="Sim" offLabel="Não">
                            </p:selectBooleanButton>
                    </div>
				</div>