				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					    <p:outputLabel value="$fieldNameUpper" for="${fieldNameLower}SelectOneMenu" />

					    <p:selectOneMenu id="${fieldNameLower}SelectOneMenu" value="#{ manager${operation}${entityNameUpper}.entidade.${fieldNameLower}}"
					    				 required="$required" requiredMessage="$fieldNameUpper é obrigatório">
					        <f:selectItems value="#{ enums.${typeNameLower}s() }" />
					    </p:selectOneMenu>
					</div>
				</div>