/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
package br.com.garcom.manager.pesquisar;

import br.com.foxinline.annotations.AccessPermission;
import br.com.garcom.main.ServicoGenerico;
import br.com.garcom.manager.ManagerPesquisar;
import br.com.garcom.servico.${entityName}Servico;
import br.com.garcom.modelo.${entityName};
import javax.ejb.EJB;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ViewScoped;

/**
 *
 * @author evaldosavio
 */
@ManagedBean
@ViewScoped
@AccessPermission(moduleName = "", pageRedirect = "index.xhtml")
public class ManagerPesquisar${entityName} extends ManagerPesquisar<${entityName}> {

    @EJB
    private ${entityName}Servico ${entityNameLower}Servico;
    
    @Override
    protected ServicoGenerico getServico() {
        return ${entityNameLower}Servico;
    }
}
