                            <p:column headerText="${fieldName}" >
                                <h:outputText value="#{ ${entityNameLower}.${fieldNameLower} ? 'Sim' : 'Não'}"/>
                            </p:column>