<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="layout.xhtml">
    	<ui:define name="titulo">
            Cadastro de ${entityName}
        </ui:define>

        <ui:define name="content">

            <script>
                $('#cadastrosMenu').addClass('current');
            </script>
            <h:form id="criar${entityName}Form" >
                <p:growl id="criar${entityName}Growl" autoUpdate="true" />
                <div class="actions">
                    <div id="buttons">
                        <p:button value="Pesquisar" outcome="pesquisar${entityName}.xhtml" icon="ui-icon-search"
                                  styleClass="ui-priority-primary" />
                    </div>
                </div>
                <p:fieldset id="campoFieldset" >
                    <h3 class="tituloFieldset">
                        Dados
                    </h3>
                    #foreach( $field in $fields )
                        #if ( $field.getType().equals("STRING") )
                                $field.process( "template/components/input.vm" )
                        #end
                        #if ( $field.getType().equals("TEXT") )
                                $field.process( "template/components/input.vm" )
                        #end
                        #if ( $field.getType().equals("BEAN") )
                                $field.process( "template/components/autocomplete.vm" )
                        #end
                        #if ( $field.getType().equals("BOOLEAN") )
                                $field.process( "template/components/checkbox.vm" )
                        #end
                        #if ( $field.getType().equals("ENUM") )
                                $field.process( "template/components/selectOneMenu.vm" )
                        #end
                        #if ( $field.getType().equals("BIGDECIMAL") )
                                $field.process( "template/components/inputCurrency.vm" )
                        #end
                        #if ( $field.getType().equals("DATE") )
                                $field.process( "template/components/calendar.vm" )
                        #end
                    #end  
                </p:fieldset >
                <div class="command">
                    <p:commandButton styleClass="ui-priority-primary" value="Salvar" icon="ui-icon-disk" actionListener="#{managerCriar${entityName}.salvar()}" update=":criar${entityName}Form:campoFieldset"/>
                    <p:button rendered="#{managerCriar${entityName}.entidade.id eq null}" value="Cancelar" icon="ui-icon-close" outcome="pesquisar${entityName}.xhtml" />
                    <p:button rendered="#{managerCriar${entityName}.entidade.id ne null}" value="Cancelar" icon="ui-icon-close" outcome="visualizar${entityName}.xhtml?id=#{managerCriar${entityName}.entidade.id}" />
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
