<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:composition template="layout.xhtml">

        <ui:define name="titulo">
            Visualizar $entityName
        </ui:define>

        <ui:define name="content">
            <script>
                $('#cadastrosMenu').addClass('current');
            </script>

            <h:form id="visualizar${entityName}Form" >
                <p:growl id="visualizar${entityName}Growl" autoUpdate="true" />

                <div class="actions">
                    <div id="buttons">
                    
                        <p:button value="Cadastrar" outcome="criar${entityName}.xhtml" icon="ui-icon-plus"
                                    style="float:left;"
                                    styleClass="ui-priority-primary" />
                    
                        <p:button value="Pesquisar" outcome="pesquisar${entityName}.xhtml" icon="ui-icon-search"
                                  styleClass="ui-priority-primary" />

                        <p:splitButton value="Ações" process="@none" icon="ui-icon-gear">
                            <p:menuitem value="Editar" icon="ui-icon-pencil" outcome="criar${entityName}.xhtml">
                                <f:param name="id" value="#{ managerPesquisar${entityName}.entidade.id}"/>
                            </p:menuitem>
                            <p:menuitem value="Excluir" icon="ui-icon-trash" oncomplete="deletarDialog.show();"/>
                        </p:splitButton>
                    </div>
                </div>

                <p:fieldset id="campoFieldset" >
                        <h3 class="tituloFieldset">
                            Dados
                        </h3>
                        #foreach( $field in $fields )
                            #if ( $field.getType().equals("STRING") )
                               $field.process( "template/components/text/text.vm" )
                            #end
                            #if ( $field.getType().equals("TEXT") )
                               $field.process( "template/components/text/text.vm" )
                            #end
                            #if ( $field.getType().equals("DATE") )
                                    $field.process( "template/components/text/text_date.vm" )
                            #end
                            #if ( $field.getType().equals("BIGDECIMAL") )
                                    $field.process( "template/components/text/text_bigdecimal.vm" )
                            #end
                            #if ( $field.getType().equals("BEAN") )
                                    $field.process( "template/components/text/text_bean.vm" )
                            #end
                            #if ( $field.getType().equals("ENUM") )
                                    $field.process( "template/components/text/text_enum.vm" )
                            #end
                            #if ( $field.getType().equals("BOOLEAN") )
                                    $field.process( "template/components/text/text_boolean.vm" )
                            #end
                        #end
                </p:fieldset>


                <p:dialog header="Deseja realmente excluir?" widgetVar="deletarDialog" modal="true"
                          closable="false" resizable="false" draggable="false" >
                    <div class="row">
                        <div class="command">
                            <p:commandButton value="Sim" icon="ui-icon-check" actionListener="#{ managerPesquisar${entityName}.delete() }"/>
                            <p:commandButton value="Não" icon="ui-icon-close" oncomplete="deletarDialog.hide()" process="@this"/>
                        </div>
                    </div>
                </p:dialog>   
            </h:form>
        </ui:define>
    </ui:composition>
</html>
